apiVersion: v1
kind: Pod
metadata:
  name: "microvm-{{ submission_id }}"
  namespace: "{{ namespace }}"
  labels:
    submission-id: "{{ submission_id }}"
    user-id: "{{ user_id }}"
    app: tradeforces-submission
spec:
  imagePullSecrets:
  - name: gar-secret
  runtimeClassName: kata-qemu
  restartPolicy: Never
  terminationGracePeriodSeconds: 30
  affinity:
    podAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          topologyKey: kubernetes.io/hostname
          labelSelector:
            matchExpressions:
            - key: submission-id
              operator: In
              values:
              - "{{ submission_id }}"
            - key: app
              operator: In
              values:
              - telemetry
              - shadow
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          topologyKey: kubernetes.io/hostname
          labelSelector:
            matchExpressions:
            - key: app
              operator: In
              values:
              - tradeforces-submission

  containers:
  - name: trader
    image: "{{ docker_image }}"
    imagePullPolicy: IfNotPresent
    
    ports:
    - name: http
      containerPort: 8000
      protocol: TCP
    
    resources:
      requests:
        memory: "256Mi"
        cpu: "100m"
      limits:
        memory: "512Mi"
        cpu: "500m"
            
    env:
    - name: SUBMISSION_ID
      value: "{{ submission_id }}"
    - name: USER_ID
      value: "{{ user_id }}"
    - name: POD_NAMESPACE
      valueFrom:
        fieldRef:
          fieldPath: metadata.namespace
    - name: POD_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.name
    - name: POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
  

---
# Template for telemetry pod
apiVersion: apps/v1
kind: Deployment
metadata:
  name: telemetry-deployment-{{ submission_id }}
  labels:
    submission-id: "{{ submission_id }}"
    user-id: "{{ user_id }}"
    app: telemetry
spec:
  replicas: 1
  selector:
    matchLabels:
      submission-id: "{{ submission_id }}"
      user-id: "{{ user_id }}"
      app: telemetry
  template:
    metadata:
      labels:
        submission-id: "{{ submission_id }}"
        user-id: "{{ user_id }}"
        app: telemetry
    spec:
      imagePullSecrets:
      - name: gar-secret
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - topologyKey: kubernetes.io/hostname
            labelSelector:
              matchExpressions:
              - key: submission-id
                operator: In
                values:
                - "{{ submission_id }}"
              - key: app
                operator: In
                values:
                - tradeforces-submission
      containers:
      - name: telemetry-container
        image: us-central1-docker.pkg.dev/project-cdd074dc-6291-4d7f-a2a/tradeforces/tradeforces-telemetry:1.1
        env:
        - name: SUBMISSION_ID
          value: "{{ submission_id }}"
        - name: USER_ID
          value: "{{ user_id }}"
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        envFrom:
        - configMapRef:
            name: app-env


---
# Template for shadow_engine pod
apiVersion: apps/v1
kind: Deployment
metadata:
  name: shadow-deployment-{{ submission_id }}
  labels:
    submission-id: "{{ submission_id }}"
    user-id: "{{ user_id }}"
    app: shadow
spec:
  replicas: 1
  selector:
    matchLabels:
      submission-id: "{{ submission_id }}"
      user-id: "{{ user_id }}"
      app: shadow
  template:
    metadata:
      labels:
        submission-id: "{{ submission_id }}"
        user-id: "{{ user_id }}"
        app: shadow
    spec:
      imagePullSecrets:
      - name: gar-secret
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - topologyKey: kubernetes.io/hostname
            labelSelector:
              matchExpressions:
              - key: submission-id
                operator: In
                values:
                - "{{ submission_id }}"
              - key: app
                operator: In
                values:
                - tradeforces-submission
      containers:
      - name: shadow-container
        image: us-central1-docker.pkg.dev/project-cdd074dc-6291-4d7f-a2a/tradeforces/tradeforces-shadow:1.1
        ports:
        - name: admin
          containerPort: 8080
        - name: fix
          containerPort: 9876
        - name: telemetry
          containerPort: 9100
        env:
        - name: SUBMISSION_ID
          value: "{{ submission_id }}"
        - name: TELEMETRY_HOST
          value: "0.0.0.0"
        - name: TELEMETRY_PORT
          value: "9100"
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        envFrom:
        - configMapRef:
            name: app-env